@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  padding:0;
  margin: 0;
  min-width: 360px;
}

html {
  background-color:white;
}

.mat-toolbar {
  background-color: white;
}
